<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hero By Id</title>
    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- DaisyUI -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.10.1/dist/full.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="flex items-center justify-center min-h-screen">
        <div class="text-center">
            <h1 class="mb-4"><%= data.title %></h1>
            <form class="flex flex-col items-center gap-4" method="post" action="/user/update">
                <input type="text" name="name" hidden value="<%= data.data[0].id %>" class="input input-bordered w-full max-w-xs" />
                <input type="text" name="name" value="<%= data.data[0].name %>" class="input input-bordered w-full max-w-xs" />
                <input type="text" name="role" value="<%= data.data[0].role %>" class="input input-bordered w-full max-w-xs" />
                <button type="submit" value="update" class="btn btn-primary">Update</button>
            </form>
        </div>
    </div>
</body>
</html>
